.nav-enlace{
    display: inline-block;
    background: yellow;
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    text-decoration: none;
 }
 .nav-enlace:hover{
    background: rgb(139, 137, 3);
 
 }
 nav{
    background: rgb(149, 165, 9);
    padding: 10px;
    display: flex;
    justify-content: space-around;
 }
 .nav-boton{
    background: yellow;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    border: 2px solid #fff;
    display: none;
 }
 
 @media (max-width: 600px) {
    nav{
       background-color: rgb(100, 90, 0);
       flex-direction: column;
    }
    .nav-enlace{
       margin: 10px 0;
    }
    .nav-boton{
       display: inline-block;
    }
    .desaparece{
       display: none;
    }
 }